@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    font-family: "Roboto";
}
/* SIDEBAR */

.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.logo-text {
    margin: 20px;
}

.logo-text,
.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.dash-logo {
    height: 48px;
    width: 48px;
    margin-right: 15px;
    fill: white;
}

.icon-text {
    margin: 30px;
    display: flex;
    align-items: center;
}

.icon {
    height: 24x;
    width: 24px;
    margin-right: 10px;
    fill: white;
}

.icon-text p {
    font-size: 20px;
}

@media (max-width: 600px) {
    .icon {
        height: 20px; /* Adjusted icon size for smaller screens */
        width: 20px; /* Adjusted icon size for smaller screens */
    }
    .icon-text p,
    .logo-text h1 {
        display: none;
    }
}

.icon-text:hover {
    color: #d4d4d8;
    cursor: pointer;
}

/* MAIN */

.main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.header {
    background-color: #fafafa;
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

.projects {
    background-color: #cbd5e1;
}

.boxes {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box {
    background-color: #fafafa;
    border: 1px solid #d1d5db;
    width: 80%;
    height: 150%;
    margin: 30px;
}

.update-container {
    background-color: #cbd5e1;
    display: grid;
    place-items: center;
}

.update {
    background-color: #fafafa;
    width: 250px;
    height: 300px;
}

/* DARK MODE */
