@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: "Roboto";
}

/* MAIN */

.main {
    background-color: white;
    display: grid;
    grid-template-rows: 180px;
    height: 110%;
}

/* SIDEBAR */

.sidebar {
    background-color: rgb(102,68,152);
    display: flex;
    height: 110%;
    flex-direction: column;
    color: white;
}

.logo-text {
    margin: 20px;
}

.logo-text,
.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.img {
    background-color: black;
    fill: black;
}

.dash-logo {
    height: 48px;
    width: 48px;
    margin-right: 15px;
    fill: white;
}

.icon-text {
    margin: 30px;
    display: flex;
    align-items: center;
}

.icon {
    height: 24x;
    width: 24px;
    margin-right: 10px;
    fill: white;
}

.icon-text p {
    font-size: 20px;
}

@media (max-width: 600px) {
    .icon {
        height: 20px; /* Adjusted icon size for smaller screens */
        width: 20px; /* Adjusted icon size for smaller screens */
    }
    .icon-text p,
    .logo-text h1 {
        display: none;
    }
}

.icon-text:hover {
    color: #d4d4d8;
    cursor: pointer;
}

/* HEADER */

.header {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}

.avatar {
    height: 50px;
    width: 50px;
}


.header-icon {
    height: 30px;
    width: 30px;
}

.dark-icon {
    height: 30px;
    width: 30px;
}

.search-bar {
    background-color: #cbd5e1;
    width: min(700px, 50%);
    height: 30px;
    border-radius: 20px;
    margin-left: -50px;
    text-align: center;
    font-size: 24px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
}

.profile-pic {
    height: 80px;
    width: 80px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.avatar {
    height: 50px;
    width: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.header-button {
    background-color: rgb(102,68,152);
    color: white;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    text-align: center;
    gap: 5px;
    border-radius: 20px;
    border: none;
}

.header-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#dark-btn,
#alert-btn,
#search-btn {
    border: none;
    cursor: pointer;
    background-color: #fafafa;
}

#dark-btn:hover,
#alert-btn:hover,
#search-btn:hover
{
    fill: rgb(102,68,152);
}


@media (max-width: 600px) {
    .icon {
        height: 20px; /* Adjusted icon size for smaller screens */
        width: 20px; /* Adjusted icon size for smaller screens */
    }
    .greeting,
    .search-bar,
    .header-icon,
    .avatar,
    .header-button,
    h3 {
        display: none;
    }
}

/* CONTENT */

.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.projects {
    background-color: #cbd5e1;
    overflow: hidden;
}

.content h4{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box {
    background-color: #fafafa;
    border-left: 10px solid rgb(102,68,152);
    width: 70%;
    height: 24%;
    margin-top: 25px;
    margin-left: 20px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 10px;
}

.box h5 {
    font-size: 17px;
    font-weight: bold;
}

.box-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 30px;
}

.box-icon {
    height: 24x;
    width: 24px;
    margin-right: 10px;
    fill: black;
}

@media (max-width: 600px) {
    .icon {
        height: 20px; /* Adjusted icon size for smaller screens */
        width: 20px; /* Adjusted icon size for smaller screens */
    }
    .box {
        display: 1fr;
    }
}

/* UPDATES */

.update-container {
    background-color: #cbd5e1;
}

.updates .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.divider {
    border: 0.5px solid #737373;
    width: 80%;
    margin-left: 20px;
}

.update-box,
.friend-box {
    background-color: #fafafa;
    height: 78%;
    width: 85%;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin-top: 25px;
}

.update-box h6,
.friend-box h6 {
    font-size: 18px;
    font-weight: bold;
}


.friend-left,
.friend-right {
    display: flex;
    flex-direction: column;
    width: 50vh
}

.friend-pic,
.friend-pic-square {
    border-radius: 100px;
    border: 1px black;
    padding: 2px;
    fill: white;
}

.friend-pic {
    height: 100%;
    width: 22%;
}

.friend-image-text {
    display: flex;
    align-items: center;
    margin: 10px;
}

.friend-text {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .icon {
        height: 20px; /* Adjusted icon size for smaller screens */
        width: 20px; /* Adjusted icon size for smaller screens */
    }
    .projects h4,
    .box p,
    .text, 
    h4,
    .friend-box,
    .update-box {
        display: none;
    }
}

/* DARK MODE */

.header.dark-mode {
    background-color: black;
}

.projects.dark-mode,
.updates.dark-mode {
    background-color: rgb(59, 58, 58);
}

.header-icon.dark-mode,
#alert-btn.dark-mode,
.search-bar.dark-mode,
.header-button.dark-mode,
.avatar.dark-mode,
.dark-icon.dark-mode {
    display: none;
}

.dark-mode #profile-pic-dark {
    display: block;
}

.dark-mode #profile-pic-light {
    display: none;
}

/* Define styles for light mode */
#profile-pic-dark {
    display: none;
}

#profile-pic-light {
    display: block;
}