* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: green;
    height: 100vh;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.header {
    background-color: purple;
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

.projects {
    background-color: blue;
}

.boxes {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box {
    background-color: yellow;
    border: 2px solid black;
    width: 80%;
    height: 150%;
    margin: 30px;
}

.update-container {
    background-color: orange;
    display: grid;
    place-items: center;
}

.update {
    background-color: red;
    width: 250px;
    height: 300px;
}
